<div class="container">
	<header id="header">
		<div class="headerTop clearfix">
			<div class="logo">

			</div>
		</div>
	</header>
	<nav class="nav clearfix">
		<div class="navbar">
			<div class="navbar-inner">
				<!--Menu-->
			</div>
		</div>
	</nav>
	<div class="content clearfix">
		<div class="breadcrumb">
			<f:cObject typoscriptObjectPath="lib.navigation.breadcrumb" />
		</div>

		<f:render section="content" />
	</div>
	<footer id="footer">
		<div class="copyright">
			<f:cObject typoscriptObjectPath="lib.copyright" />
		</div>
		<div class="footerMenue">
			<!--Menu-->
		</div>
	</footer>
</div>